<div class="container coasters-index">

  <a href="/coasters/new" class="btn btn-dark">Add a new coaster</a>

  <h1 style="font-weight: 100">Check all the Coasters:</h1>


  {{#each allCoasters}}
    <div>
        <h4>{{name}}</h4>
        <p>Description:</p> 
        <p>{{description}}</p> 
        <p>Inversions:</p> 
        <p>{{inversions}}</p>
        <p>Length:</p> 
        <p>{{length}}</p> 
        <p>Is in the park:</p> 
        <p>{{park_id.name}}</p>  
        <a href="/coasters/{{id}}">Details</a>
        <a href="/coasters/{{id}}/delete">Delete</a> 
    </div>
  {{/each}}




</div>
