<div class="container">

  <div class="row">

    <div class="col-md-6">
      <h1 style="font-weight: 100">Edit {{coaster.name}}:</h1>
    </div>

    <div class="col-md-6">

      <form action="/coasters/new" method="POST">
        <div class="form-group">
          <label for="name-input">Name:</label>
          <input value="{{coaster.name}}" name="name" type="text" class="form-control" id="name-input">
        </div>
        <div class="form-group">
          <label for="description-input">Description:</label>
          <input value="{{coaster.description}}" name="description" type="text" class="form-control" id="description-input">
        </div>
        <div class="form-group">
          <label for="inversions-input">Inversions:</label>
          <input value="{{coaster.inversions}}" name="inversions" type="number" class="form-control" id="inversions-input">
        </div>
        <div class="form-group">
          <label for="length-input">Length:</label>
          <input value="{{coaster.length}}" name="length" type="number" class="form-control" id="length-input">
        </div>
        <div class="form-group">
          <label for="park-list">Is in the park:</label>
          <select name="park" class="form-control" id="park-list">
            <option disabled >{{coaster.park_id.name}}</option>

            {{#each parks}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <button type="submit" class="btn btn-dark">Update coaster</button>
        <a href="/coasters" class="btn btn-dark">Cancel</a>

      </form>
    </div>

  </div>
</div>